{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.home-section,
.about-section,
.portfolio-section,
.contact-section {
    padding: 50px;
}